<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload Your Photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Upload Your Photo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="!imageData; else imagePreview" class="upload-container" (click)="uploadPhoto()">
    <p>Upload Your Photo Here</p>
  </div>

  <ng-template #imagePreview>
    <img [src]="imageData" class="uploaded-image" />
    <div class="button-group">
      <ion-button class="action-button" (click)="confirmPhoto()">Confirm Photo</ion-button>
      <ion-button class="action-button" color="medium" (click)="resetUpload()">Reset</ion-button>
    </div>  
  </ng-template>
<!-- <app-explore-container name="Upload Your Photo"></app-explore-container> -->
</ion-content>
